<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/dap-an/add/{id}(id=${idBKT})}" method="post">
    Dap An 1
    <input type="text" name="dap_an_1">

    Dap An 2
    <input type="text" name="dap_an_2">

    Dap An 3
    <input type="text" name="dap_an_3">

    Dap An 4
    <input type="text" name="dap_an_4">

    Dap An chinh xac
    <input type="text" name="dap_an_chinh_xac">
    <button>Submit</button>
</form>
<a href="/hien-thi">back</a>
</body>
</html>