<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a th:href="@{/bai-kiem-tra/view-add}">Them bai kiem tra</a>

<table>
    <thead>
    <tr>
        <th>STT</th>
        <th>So cau hoi</th>
        <th>Diem so</th>
        <th>Diem toi da</th>
        <th>Thoi gian lam bai</th>
        <th>Hanh dong</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="bkt, stat : ${listBKT}">
            <td>[[${stat.index+1}]]</td>
            <td>[[${bkt.so_cau_hoi}]]</td>
            <td>[[${bkt.diem_so}]]</td>
            <td>[[${bkt.diem_toi_da}]]</td>
            <td>[[${bkt.thoi_gian_lam_bai}]]</td>
            <td>
                <a th:href="@{/lam-bai/{id}(id=${bkt.id})}">Lam bai</a>
            </td>
        </tr>
    </tbody>
</table>
<a th:href="@{/hien-thi?(page=${p-1})}">trang truoc</a>
<a th:href="@{/hien-thi?(page=${p+1})}">trang sau</a>
</body>
</html>